
<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

<form name="userForm" class="form-group" ng-submit="register(userForm.$valid)" novalidate>
        
    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && submitted}">

        <label>Электронная почта</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && submitted" class="help-block">Enter a valid email.</p>

    </div>

    <!-- PASSWORD -->

    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.email.$pristine && submitted}">
    <label>Пароль</label>
      <input type="password" name="password" ng-minlength="6" ng-model="user.password" class="form-control">
      <p ng-show="userForm.password.$error.minlength && !userForm.password.$pristine && submitted">Minunum password length is 6 character</p>
    </div>

    <!-- Password Confirmation -->

    <div class="form-group" ng-class="{ 'has-error' : confirmPassword(userForm) && !userForm.password_confirmation.$pristine && submitted }">
    <label>Подтвердите Пароль</label>
      <input type="password" name="password" ng-minlength="6" ng-model="user.password_confirmation" class="form-control">
      <p ng-show="userForm.password !== userForm.password_confirmation && !userForm.password_confirmation.$pristine && submitted">Passwords don't match</p></p>
    </div>

     <button class="btn btn-default btn-block">Отправить</button>
    </form>

</div>
</div>
